<section>
    <h2>Registro de Usuarios</h2>
    <br>
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Nombre</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <br>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
        </div>
        <input type="mail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <br>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Contraseña</span>
        </div>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
</section>